#absolute {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: aquamarine;
    width: 200px;
    height: 100px;
}
#fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 200px;
    background-color: red;
}
#contenitore {
    width: 200px;
    height: 100px;
}
#sticky {
    position: sticky;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: blue;
}